.app {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.app > div {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
}
form > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  width: 100px;
  text-align: right;
  margin-right: 10px;
}
input {
  flex: 1;
  padding: 3px;
}
button {
  padding: 5px 5px;
  border-radius: 5px;
  margin-top: 2px;
  cursor: pointer;
}